body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: #5f6368;
  margin-bottom: 20px;

  a {
    color: #5f6368;
  }

  &__thead {
    height: 40px;
    text-align: center;
    background-color: dodgerblue;
    color: #fff;
  }

  &__tbody {
    text-align: center;

    tr:last-child {
      border: none;
    }
  }

  &__tr {
    height: 30px;
    border-bottom: 1px solid #eee;
  }
}
