.atomic-input__input {
  margin: 10px 0;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  border-bottom: 1px solid $border_gray;

  &:focus {
    transition: 0.1s ease;
    border-bottom: 2px solid $purple;
  }

  &::placeholder {
    color: $border_gray;
  }
}
