
// draggable 관련 style
.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}


// style
.survey-create-and-update {
  .question {
    min-width: 600px;
    padding-top: 12px;
    margin: 20px auto 0;
    background-color: $white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.el-icon-rank {
  cursor: grab;
}

.question__questionName {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.question__input {
  min-width: 300px;
}

.question__footer {
  width: 90%;
  margin: 15px auto;
  padding: 10px 10px 0 0;
  border-top: 1px solid $border_gray;

  display: flex;
  justify-content: right;
}


.answer-option-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.answer-option__wrapper {
  width: 100%;
}

.answer-option {
  display: flex;
  align-items: center;
  padding-left: 48px;

  .el-radio {
    padding-bottom: 18px;
    margin-right: -10px;
  }

  .el-checkbox {
    padding-bottom: 18px;
    margin-right: 0;
  }

  .answer-option__button--delete {
    padding-bottom: 18px;
    margin-left: 10px;
  }


}

.answer-option__input {
  min-width: 330px;
  padding: 10px 5px;
  font-size: 16px;
  border-bottom: 1px solid $white;
}

