.survey-create-and-update {
  &.survey-title {
    width: auto;
    min-width: 600px;
    border-top: 5px solid $purple;
    border-radius: 5px;
    margin: 30px 0;
    padding: 20px 0;
    background-color: $white;
    display: flex;
    align-items: center;

  }

  .survey-title__input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin: 20px 24px 0;
    font-size: 32px;
    border-bottom: 1px solid $white;

    &:hover {
      border-bottom: 1px solid $border_gray;
    }

    &:focus {
      transition: 0.1s ease;
      border-bottom: 2px solid $purple;
    }

    &::placeholder {
      color: $border_gray;
    }
  }

  .el-form-item__error {
    margin: 0 24px;
  }

}


