.default-layout {
  width: 100%;
  max-width: 1240px;
  height: 95vh;
  overflow: hidden;

  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  > * {
    width: 100%;
  }

  a {
    text-decoration: none;
  }
  a:hover {
    color: $linkColor;
  }

}

.header {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  color: #5f6368;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    font-size: 24px;

    a {
      color: #5f6368;
    }
  }

  &__logout {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__user {
    padding-right: 10px;
  }
}

.breadcrumb {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;

  a {
    color: #5f6368;
  }
}

.page-wrapper {
  overflow-y: auto;
}
