.survey-response {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.container--userCheck {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__input {
  margin: 20px auto;
}

.container--response {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $backgroundColor;
  min-height: 1020px;
  overflow-y: auto;
}

.container--response__wrapper {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__button container__button--save {
  margin: 30px 0;
}
