.survey-report {
  background-color: $backgroundColor;
  overflow-y: auto;
  min-height: 1020px;
  height:95%;
}

.survey-report__count{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.survey-report__result{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.survey-report--noContent {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
