.survey-report {
  background-color: $backgroundColor;
  height: auto;
}

.survey-report__count{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.survey-report__result{
  height: 100%;
  display: flex;
  flex-direction: column;
}
