.survey-response {
  height: 98vh;
  width: 100%;
  overflow-y: auto;
}
.container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $backgroundColor;
}

.container--response__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__input {
  margin: 20px auto;
}

.container__button {
  margin: 30px 0;
}

.survey-title {
  width: auto;
  min-width: 600px;
  border-top: 5px solid $purple;
  border-radius: 5px;
  margin: 30px 0;
  background-color: $white;
}

.survey-title__surveyName {
  padding-left: 20px;
}

.survey-title__userName {
  padding-left: 20px;
  padding-bottom: 20px;
}

.question {
  width: auto;
  min-width: 600px;
  padding-top: 12px;
  margin: 20px auto;
  background-color: $white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question__title {
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  padding-left: 85px;
}

.question__description {
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 85px;
  color: $purple;
  //margin-bottom: 10px;
}

.answer-option-wrapper {
  width: 100%;
}

.answer-option {
  padding-top: 10px;
}
